:root {
  --docsearch-highlight-color: var(--cai-color-primary-dark);
  --docsearch-hit-active-color: var(--cai-color-primary-dark);
}
.web-components .wrapper {
  position: relative;
}
.web-components .wrapper cai-popover {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
