/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 170px 0;
  position: relative;
}

.heroTitle {
  max-width: 974px;
  font-family: var(--cai-font-family-acuminprowide-black);
  font-size: var(--cai-font-size-80);
  letter-spacing: var(--cai-character-spacing--1-5);
  line-height: var(--cai-line-spacing-86);
  color: var(--cai-color-000000);
}

.heroDescWrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.heroDescription {
  width: 55%;
  font-family: var(--cai-font-family-acuminpro-regular);
  font-size: var(--cai-font-size-20);
  letter-spacing: var(--cai-character-spacing--0-1);
  line-height: var(--cai-line-spacing-28);
  color: var(--cai-color-000000);
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8em;
}

.heroDescription p {
  flex-grow: 1;
  margin-bottom: 0;
}

.heroDescImage {
  width: 45%;
}

.heroDivider {
  margin-top: calc(var(--cai-line-spacing-28) / 2);
  width: 40px;
  height: 3px;
  background-color: var(--cai-color-378ef0);
  border: 0;
  padding: 0;
  flex-shrink: 0;
}

/* @media screen and (max-width: 996px) {
  .heroDescWrapper {
    flex-direction: column;
    align-items: center;
  }

  .heroDescWrapper img {
    transform: translateY(0px);
  }

  .heroBanner {
    padding: 4rem 2rem;
  }

  .heroTitle {
    width: auto;
    font-size: var(--cai-font-size-56);
    line-height: 1;
    text-align: center;
  }

  .heroDescription {
    width: 80%;
    padding: 2rem auto;
    font-size: var(--cai-font-size-20);
    text-align: center;
    line-height: 1;
  }
} */
